.nav {

    display: flex;
    height: 80px;
    padding: 18px;
    justify-content: space-between;
    align-items: center;


    @media (max-width: 1000px) {
        margin: 0 30px;
    }


    .nav__logo {
        height: 50px;
        width: 100px;
        margin-right: 40px;

        @media (min-width: 1449px) {
            height: 45px;
            width: 107px;
        }
    }

    .link {
        display: block;
        height: fit-content;
        color: white;
        font-size: 15px;
        border-radius: 3px;
        padding: 8px 17px;
        cursor: pointer;
        text-decoration: none;
        box-sizing: border-box;
    }
}